# Turso Database
TURSO_DATABASE_URL=libsql://sifiscal-edenml264.aws-us-west-2.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODgwNjIwODAsImlkIjoiMDFhMDUwY2QtYzQwMS03ZWMwLTkzODktYWJiYTM2YmMyYTJiIiwia2lkIjoiZVNjVGY3a2RZYlotN1o3QlhwVTlObnVwdm1UOEVCZnpfYnVJbnFOcU5PYyIsInJpZCI6IjY4YTEzMGQwLWI3NzMtNGFjOS05NmExLWZiYTZjNjhkNmU0NCJ9.uTGEfPXXQBT68RG4uibmoYpQCpD14Sy-4_PQH9AsrXHVA4pokXTk5khP47i1RGApZC7TyVUaQSV6nORrUpLQBw

# App
ASTRO_SITE_URL=http://localhost:4321

#git
GIT_REMOTE_URL=https://github.com/Edenml264/sifiscal.git
# create a new repository on the command line
echo "# sifiscal" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Edenml264/sifiscal.git
git push -u origin main

# or push an existing repository from the command line
git remote add origin https://github.com/Edenml264/sifiscal.git
git branch -M main
git push -u origin main